<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 3*

---

# üìù Assignment

# **üå± Í∏∞Î≥∏ Í≥ºÏ†ú**

**Data Description**

- `Poster_Link` : Link of the poster that imdb using
- `Series_Title` : Name of the movie
- `Released_Year` : Year at which that movie released
- `Certificate` : Certificate earned by that movie
- `Runtime` : Total runtime of the movie
- `Genre` : Genre of the movie
- `IMDB_Rating` : Rating of the movie at IMDB site
- `Overview` : mini story/ summary
- `Meta_score` : Score earned by the movie (0 ~ 100)
- `Director` : Name of the Director
- `Star1` , `Star2` , `Star3` , `Star4` : Name of the Stars
- `Noofvotes` : Total number of votes
- `Gross` : Money earned by that movie

## **Part 1. EDA**

### **1-1. Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞**

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# colabÏóê ÏßÅÏ†ë ÌååÏùº ÏóÖÎ°úÎìú
url = '/content/movie.csv'

movie = pd.read_csv(url)
movie.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110.0,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367.0,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232.0,"534,858,444"
3,m.media-amazon.com/images/M/MV5BMWMwMGQzZTItY2...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952.0,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845.0,"4,360,000"

### **1-2. Îç∞Ïù¥ÌÑ∞ ÌÉêÏÉâ**

- `.info()` Î©îÏÑúÎìúÎ•º ÌÜµÌï¥ Îç∞Ïù¥ÌÑ∞ÏóêÏÑú ÏïÑÎûòÏùò ÏÇ¨ÏïàÏùÑ ÌôïÏù∏Ìï©ÎãàÎã§.
  - Îç∞Ïù¥ÌÑ∞ÏÖãÏùò ÌñâÍ≥º Ïó¥ ÌÅ¨Í∏∞Î•º ÌôïÏù∏Ìï©ÎãàÎã§.
  - Í∞Å columnÏùò Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖÏù¥ Ï†ÅÏ†àÌïúÏßÄ ÌôïÏù∏Ìï©ÎãàÎã§.
  - Í≤∞Ï∏°Ïπò Ïó¨Î∂ÄÎ•º ÌôïÏù∏Ìï©ÎãàÎã§.

In [ ]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    895 non-null    object
 4   Runtime        995 non-null    object
 5   Genre          995 non-null    object
 6   IMDB_Rating    995 non-null    float64
 7   Overview       995 non-null    object
 8   Meta_score     841 non-null    float64
 9   Director       995 non-null    object
 10  Star1          995 non-null    object
 11  Star2          995 non-null    object
 12  Star3          995 non-null    object
 13  Star4          995 non-null    object
 14  No_of_Votes    995 non-null    float64
 15  Gross          827 non-null    object
dtypes: float64(3), object(13)
memory usage: 125.1+ KB

##### **Q1. `Released_Year` ÏïàÏóê Ïà´ÏûêÍ∞Ä ÏïÑÎãå ÏûòÎ™ªÎêú Îç∞Ïù¥ÌÑ∞Í∞Ä Ï¥ù Î™á Í∞úÏù∏ÏßÄ Ïì∞ÏÑ∏Ïöî.**

- `Released_Year` columnÏùò Îç∞Ïù¥ÌÑ∞ÌÉÄÏûÖÏù¥ objectÎ°ú ÎÇòÏò§Îäî Ïù¥Ïú†Îäî Ïà´ÏûêÍ∞Ä ÏïÑÎãå Î¨∏ÏûêÏó¥Ïù¥ Ï°¥Ïû¨ÌïòÍ∏∞ ÎïåÎ¨∏ÏûÖÎãàÎã§.
- [`str.contains()`](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.contains.html)Î•º ÌôúÏö©ÌïòÏó¨ `Released_Year` column ÎÇ¥Ïóê Ïà´Ïûê ÌòïÌÉúÍ∞Ä ÏïÑÎãå valueÎ•º Ï∂îÏ∂úÌï¥Î≥¥ÏÑ∏Ïöî.

> üí° **Tip)** <br>
- `.startswith()`
- `re.findall()`
- `re.search()`
- `re.match()` <br>
Î•º ÌôúÏö©Ìï¥Î≥º ÏàòÎèÑ ÏûàÏäµÎãàÎã§.

In [ ]:
error = movie[movie.Released_Year.str.contains(r'[^0-9]')]
error

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
105,https://m.media-amazon.com/images/M/MV5BODM4Nj...,Idi i smotri,MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,https://m.media-amazon.com/images/M/MV5BZmM0NG...,Ikiru,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
951,https://m.media-amazon.com/images/M/MV5BZTI3Yz...,Minority Report,PG-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
966,https://m.media-amazon.com/images/M/MV5BNjEzYj...,Apollo 13,PG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
975,https://m.media-amazon.com/images/M/MV5BMjE0OD...,When Harry Met Sally...,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# findall()ÏùÑ ÌôúÏö©ÌïòÏó¨ Ï∂úÎ†•Ìï¥Î≥º ÏàòÎèÑ ÏûàÏäµÎãàÎã§. 

import re

not_num = []
for year in movie['Released_Year']:
  string = re.compile(r'[\D+]')
  result = string.findall(year)
  if len(result) >= 1:
    not_num.append(year)

not_num

['MA', 'U', 'PG-13', 'PG', 'R']

In [ ]:
# re.searchÏôÄ applyÎ•º ÌôúÏö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌï† ÏàòÎèÑ ÏûàÏäµÎãàÎã§. 

import re

def has_errors(inputString):
  return bool(re.search('[\D]', inputString))

In [ ]:
error_condition = movie.Released_Year.apply(has_errors)
error_names = movie[error_condition]
error_names

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
105,https://m.media-amazon.com/images/M/MV5BODM4Nj...,Idi i smotri,MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,https://m.media-amazon.com/images/M/MV5BZmM0NG...,Ikiru,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
951,https://m.media-amazon.com/images/M/MV5BZTI3Yz...,Minority Report,PG-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
966,https://m.media-amazon.com/images/M/MV5BNjEzYj...,Apollo 13,PG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
975,https://m.media-amazon.com/images/M/MV5BMjE0OD...,When Harry Met Sally...,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### **Q2. `Released_Year`ÏóêÏÑú Ïà´ÏûêÍ∞Ä ÏïÑÎãå ÏûòÎ™ªÎêú Îç∞Ïù¥ÌÑ∞Í∞Ä Îì§Ïñ¥ÏûàÎäî ÌñâÏùÑ ÏÇ≠Ï†úÌïú Îí§ Ï†ÑÏ≤¥ ÌñâÏùò Í∞úÏàòÎ•º Ïì∞ÏÑ∏Ïöî.**

In [ ]:
movie = movie.drop(index=error.index).reset_index(drop=True)
movie

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110.0,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367.0,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232.0,"534,858,444"
3,m.media-amazon.com/images/M/MV5BMWMwMGQzZTItY2...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952.0,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845.0,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544.0,NaN
991,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075.0,NaN
992,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374.0,"30,500,000"
993,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471.0,NaN
994,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853.0,NaN

### **1-3. Í≤∞Ï∏°Ïπò ÌôïÏù∏**

- ÏúÑÏùò Í≥ºÏ†ïÏùÑ Î™®Îëê Í±∞Ïπú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏóêÏÑú, Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî 3Í∞úÏùò columnÏóê ÎåÄÌï¥ `.isnull()`ÏùÑ ÌôúÏö©ÌïòÏó¨ Í≤∞Ï∏°Ïπò Îç∞Ïù¥ÌÑ∞Î•º Î™®Îëê Ï∂îÏ∂úÌïòÏÑ∏Ïöî.
  - Ï∂îÏ∂úÌïú Îç∞Ïù¥ÌÑ∞Îäî Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÌòïÌÉúÎ°ú Î∞òÌôòÌïòÎèÑÎ°ù Ìï©ÎãàÎã§.
- Ìï¥Îãπ Í≤∞Ï∏°ÏπòÎ•º Ïñ¥ÎñªÍ≤å Ï≤òÎ¶¨ÌïòÎ©¥ Ï¢ãÏùÑÏßÄ ÏÉùÍ∞ÅÌï¥Î¥ÖÏãúÎã§.

##### **Q3. Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî ÌñâÏùÑ Î™®Îëê Ï∂îÏ∂úÌïòÏó¨ ÎßåÎì† Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò shapeÏùÑ Ïì∞ÏÑ∏Ïöî.**

In [ ]:
missing_val = movie[movie['Certificate'].isnull() | movie['Meta_score'].isnull() | movie['Gross'].isnull()]

missing_val

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
18,https://m.media-amazon.com/images/M/MV5BNjViNW...,Hamilton,2020,PG-13,160 min,"Biography, Drama, History",8.6,The real life of one of America's foremost fou...,90.0,Thomas Kail,Lin-Manuel Miranda,Phillipa Soo,Leslie Odom Jr.,Ren√©e Elise Goldsberry,55291.0,NaN
20,https://m.media-amazon.com/images/M/MV5BOTc2ZT...,Soorarai Pottru,2020,U,153 min,Drama,8.6,"Nedumaaran Rajangam ""Maara"" sets out to make t...",NaN,Sudha Kongara,Suriya,Madhavan,Paresh Rawal,Aparna Balamurali,54995.0,NaN
30,https://m.media-amazon.com/images/M/MV5BYjBmYT...,Seppuku,1962,NaN,133 min,"Action, Drama, Mystery",8.6,When a ronin requesting seppuku at a feudal lo...,85.0,Masaki Kobayashi,Tatsuya Nakadai,Akira Ishihama,Shima Iwashita,Tetsur√¥ Tanba,42004.0,NaN
32,https://m.media-amazon.com/images/M/MV5BZjc4ND...,It's a Wonderful Life,1946,PG,130 min,"Drama, Family, Fantasy",8.6,An angel is sent from Heaven to help a despera...,89.0,Frank Capra,James Stewart,Donna Reed,Lionel Barrymore,Thomas Mitchell,405801.0,NaN
46,https://m.media-amazon.com/images/M/MV5BZmY2Nj...,Hotaru no haka,1988,U,89 min,"Animation, Drama, War",8.5,A young boy and his little sister struggle to ...,94.0,Isao Takahata,Tsutomu Tatsumi,Ayano Shiraishi,Akemi Yamaguchi,Yoshiko Shinohara,235231.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988,https://m.media-amazon.com/images/M/MV5BYTE4YW...,Blowup,1966,A,111 min,"Drama, Mystery, Thriller",7.6,A fashion photographer unknowingly captures a ...,82.0,Michelangelo Antonioni,David Hemmings,Vanessa Redgrave,Sarah Miles,John Castle,56513.0,NaN
990,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544.0,NaN
991,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075.0,NaN
993,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471.0,NaN
994,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853.0,NaN

### **1-4. ÏïÑÏõÉÎùºÏù¥Ïñ¥ ÌôïÏù∏**

`Meta_score`Ïùò Ï†êÏàò Î≤îÏúÑÎ•º ÏÇ¥Ìé¥Î≥¥Í≥†, Ïù¥ÏÉÅÏπòÍ∞Ä Ï°¥Ïû¨ÌïòÎäîÏßÄ ÌåêÎã®Ìï¥Î¥ÖÎãàÎã§.

##### **Q4. `Meta_score`Ïùò Î≤îÏ£º ÏïàÏóê Ìè¨Ìï®ÎêòÏßÄ ÏïäÎäî Îç∞Ïù¥ÌÑ∞Î•º Ï†úÍ±∞Ìïú ÌõÑ, ÌÜµÍ≥ÑÏπòÎ•º ÌôïÏù∏ÌïòÏó¨ Ï†ÑÏ≤¥ `Meta_score`Ïùò ÌèâÍ∑†Ïù¥ ÏñºÎßàÎÇò Î≥ÄÌôîÌñàÎäîÏßÄ Î∞òÏò¨Î¶ºÌïòÏó¨ ÏÜåÏàòÏ†ê ÎëòÏß∏ ÏûêÎ¶¨ÍπåÏßÄ Íµ¨ÌïòÏÑ∏Ïöî.**

- `query`Î•º ÌôúÏö©ÌïòÏó¨ `Meta_score`Í∞Ä 0~100 ÏÇ¨Ïù¥Ïóê ÏûàÏßÄ ÏïäÏùÄ Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌï©ÎãàÎã§.
- (Ìï¥Îãπ Îç∞Ïù¥ÌÑ∞Î•º Ï†úÍ±∞Ìïú ÌõÑÏùò ÌèâÍ∑†Í∞í) - (Ìï¥Îãπ Îç∞Ïù¥ÌÑ∞Î•º Ï†úÍ±∞ÌïòÍ∏∞ Ï†ÑÏùò ÌèâÍ∑†Í∞í) Ïùò Í≤∞Í≥ºÎ•º Î∞òÏò¨Î¶ºÌïòÏó¨ ÏÜåÏàòÏ†ê ÎëòÏß∏ ÏûêÎ¶¨ÍπåÏßÄ ÌôïÏù∏Ìï©ÎãàÎã§.

In [ ]:
movie.Meta_score.sort_values()

244    -1.0
786    28.0
940    30.0
354    33.0
915    36.0
       ...
870     NaN
872     NaN
897     NaN
907     NaN
911     NaN
Name: Meta_score, Length: 995, dtype: float64

In [ ]:
not_included = movie.query("Meta_score < 0 | Meta_score > 100")
not_included

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
244,https://m.media-amazon.com/images/M/MV5BZjJhMT...,Shin seiki Evangelion Gekij√¥-ban: Air/Magokoro...,1997,UA,87 min,"Animation, Action, Drama",8.1,Concurrent theatrical ending of the TV series ...,-1.0,Hideaki Anno,Kazuya Tsurumaki,Megumi Ogata,Megumi Hayashibara,Y√ªko Miyamura,38847.0,NaN

In [ ]:
movie.describe()

       IMDB_Rating  Meta_score   No_of_Votes
count   995.000000  841.000000  9.950000e+02
mean      7.949648   77.878716  2.739619e+05
std       0.275066   12.686121  3.279659e+05
min       7.600000   -1.000000  2.508800e+04
25%       7.700000   70.000000  5.532650e+04
50%       7.900000   79.000000  1.383560e+05
75%       8.100000   87.000000  3.744775e+05
max       9.300000  100.000000  2.343110e+06

In [ ]:
final = movie.drop(index=not_included.index).reset_index(drop=True)
final.describe()

       IMDB_Rating  Meta_score   No_of_Votes
count   994.000000  840.000000  9.940000e+02
mean      7.949497   77.972619  2.741985e+05
std       0.275163   12.397776  3.280461e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.541675e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.747938e+05
max       9.300000  100.000000  2.343110e+06

In [ ]:
before = movie.Meta_score.mean()
after = final.Meta_score.mean()

round(after - before, 2)

0.09

### **1-5. Ï§ëÎ≥µÍ∞í ÌôïÏù∏**

##### **Q5. Ï§ëÎ≥µÎêòÎäî Îç∞Ïù¥ÌÑ∞Ïùò Í∞úÏàòÎ•º Ïì∞ÏÑ∏Ïöî.**

In [ ]:
final.duplicated().sum()

0

# **ü•á ÎèÑÏ†Ñ Í≥ºÏ†ú**

##### **`Poster_Link` ÌîºÏ≥êÏóê ÌòïÏãùÏù¥ `https://`Î°ú ÏãúÏûëÌïòÏßÄ ÏïäÎäî Îç∞Ïù¥ÌÑ∞Î•º ÌååÏïÖÌïòÏÑ∏Ïöî.**

In [ ]:
url_error = final[final.Poster_Link.str.startswith('https://') == False]
url_error

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
3,m.media-amazon.com/images/M/MV5BMWMwMGQzZTItY2...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952.0,"57,300,000"
10,m.media-amazon.com/images/M/MV5BN2EyZjM3NzUtNW...,The Lord of the Rings: The Fellowship of the Ring,2001,U,178 min,"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,92.0,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,1661481.0,"315,544,750"
25,m.media-amazon.com/images/M/MV5BMTUxMzQyNjA5MF...,The Green Mile,1999,A,189 min,"Crime, Drama, Fantasy",8.6,The lives of guards on Death Row are affected ...,61.0,Frank Darabont,Tom Hanks,Michael Clarke Duncan,David Morse,Bonnie Hunt,1147794.0,"136,801,374"
497,m.media-amazon.com/images/M/MV5BMTU3MDc2MjUwMV...,C.R.A.Z.Y.,2005,NaN,129 min,"Comedy, Drama",7.9,"A young French-Canadian, growing up in the 196...",81.0,Jean-Marc Vall√©e,Michel C√¥t√©,Marc-Andr√© Grondin,Danielle Proulx,√âmile Vall√©e,31476.0,NaN
747,m.media-amazon.com/images/M/MV5BNGQwZjg5YmYtY2...,The Hangover,2009,UA,100 min,Comedy,7.7,Three buddies wake up from a bachelor party in...,73.0,Todd Phillips,Zach Galifianakis,Bradley Cooper,Justin Bartha,Ed Helms,717559.0,"277,322,503"

##### **`Poster_Link`Ïùò Î™®Îì† Îç∞Ïù¥ÌÑ∞Í∞Ä `https://` ÌòïÏãùÏù¥ ÎêòÎèÑÎ°ù, ÏúÑÏóêÏÑú Ï∂îÏ∂úÌïú Ïò§Î•ò Îç∞Ïù¥ÌÑ∞Ïóê `https://`Î•º ÎÑ£ÏúºÏÑ∏Ïöî.**

In [ ]:
error_index = url_error.index.to_list()

error_index

[3, 10, 25, 497, 747]

In [ ]:
for i in range(len(final.Poster_Link)):
  if i in error_index:
    final.iloc[i,0] = 'https://' + final.iloc[i,0]

In [ ]:
final[final.Poster_Link.str.startswith('https://') == False]

Empty DataFrame
Columns: [Poster_Link, Series_Title, Released_Year, Certificate, Runtime, Genre, IMDB_Rating, Overview, Meta_score, Director, Star1, Star2, Star3, Star4, No_of_Votes, Gross]
Index: []